input, textarea {
  font-family:"Lucida Grande",verdana;
  font-size:14px;
}

textarea {
    width:400px;
}

input {
    width:395px;
}

input {
  padding: 0 5px;
}

textarea {
  padding:5px;
}

div.info {
    font-size:12px;
}

div.help {
  font-size:11px;
}