a {
    padding:1px;
    text-decoration:underline;
}







#footer {
    color:#666666;
    font-size:9px;
    margin:0 0 20px 40px;
    padding-bottom:15px;
    text-align:left;
}

#footer a {
    color:#666666; 
}

#footer a:hover {
    background:#666666;
    color:#FFFFFF;
}