body {
    background:#E5E5E5;
    color:#222222;
    font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
    margin:0 auto;
    padding:0;
    text-align:center;
}

a:link.blue-link, a:visited.blue-link {
    color:#0033CC;
}
a:link.blue-link {
    color:#0033CC;
}

a:hover.blue-link {
    background:#0033CC;
    color:#ffffff;
}

a.blue-link {
    text-decoration:underline;
}

a.wide-link {
    padding:5px 2px;
}

a.small-link {
    padding:0 2px;
}