body {
    background:#E5E5E5;
    color:#222222;
    font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
    margin:0 auto;
    padding:0;
    text-align:center;
}

#header {
    background-color:#000000;
}

#header h3 {
    padding: 0 15px 0;
}

#header h3 a{
    padding: 6px 3px;
}

#header h3, #header h3 a:link, #header h3 a:visited {
    color:#999999;
}

#header h3 a:hover {
    background-color:#EFEFEF;
    color:#000000;
}

#header h1 {
    color:#FFFFFF;
}

a:link.blue, a:visited.blue {
    color:#0033CC;
}
a:link.blue {
    color:#0033CC;
}

a:hover.blue {
    background:#0033CC;
    color:#ffffff;
}

a.blue {
    padding:1px;
    text-decoration:underline;
}
