#main-content .bloc table {
    font-family:Monaco,"Courier New",monospace;
}

#main-content .bloc table th {
    background-color:#EAEAEA;
    color:#999999;
    font-weight:normal;
    font-size:13px;
}

#main-content .bloc table td {
    background:#F8F8F8 url(../images/row-bg.png) repeat-x scroll 0 100%;
    border-bottom:1px solid #E1E1E1;
    color:#484848;
    padding:0.5em 0.3em;
    font-size: 12px;
}

#main-content .bloc table td.number {
    text-align:right;
}