#main-content .bloc table {
    width:100%;
    margin: 20px 0;
    border-left:1px solid #D8D8D8;
    border-right:1px solid #D8D8D8;
    border-top:1px solid #D8D8D8;
}

#main-content .bloc table th {
    border-bottom:1px solid #D8D8D8;
    padding:0.5em 0.3em;
    text-align:left;
}